---
import Layout from "../components/layout.astro";

type pathTypes =
  | {
      title: string;
      slug: string;
      name?: never;
    }
  | {
      name: string;
      slug: string;
      title?: never;
    };
---

<Layout>
  <main class="gutters">
    <h1 class="fore">{Astro.props.trail}</h1>

    <section class="cover">
      {
        Astro.props.paths.map((path: pathTypes) => (
          <article class="split">
            {typeof Astro.props.breadcrumb === "string" ? (
              <a href={`/${Astro.props.breadcrumb}/${path.slug}`}>
                {"title" in path ? path.title : path.name}
              </a>
            ) : (
              <a href={path.slug}>{"title" in path ? path.title : path.name}</a>
            )}
          </article>
        ))
      }
    </section>
  </main>
</Layout>
