---
import Layout from "../../components/layout.astro";
import fetchApi from "../../lib/strapi";

type blogTypes = {
    title: string;
    slug: string;
};

export async function getStaticPaths() {
    const blogs = await fetchApi<blogTypes[]>({
        endpoint: "blogs", // the content type to fetch
        wrappedByKey: "data", // the key to unwrap the response
        // more: true,
    });

    return blogs.map((blog) => ({
        params: { slug: blog.slug },
        props: blog,
    }));
    
}
console.log('Fetching blog data for slug page');
console.log(Astro.params.slug);
const blog = Astro.props;

// console.log(blog);
// console.log(blog[0].title);
---

<Layout>
    <main>
        <h1>{blog.title}</h1>
    </main>
</Layout>
