---
import Layout from '../components/layout.astro';
---

<Layout>
        <main>
            <h1>Page not found</h1>
            <p>
                Sorry 😔, we couldn&apos;t find what you were looking for.
                <br />
                <a href="/">Go home</a>.
            </p>
        </main>
</Layout>
