---
import Layout from "../components/layout.astro";
import fetchApi from "../lib/strapi";

type blogTypes = {
  title: string;
  slug: string;
};
const blogs: blogTypes[] = await fetchApi({
  endpoint: "blogs", // the content type to fetch

  // more: false,
});
---

<Layout>
  <main class="gutters">
    <h1 class="fore">Blog</h1>

    <section class="cover">
      {
        blogs.map((blog) => (
          <article class="split">
            <a href={"/blog/" + blog.slug}>{blog.title}</a>
            {/* // ? excerpt */}
            <div>// TODO: image</div>
          </article>
        ))
      }
    </section>
  </main>
</Layout>
