---
import Layout from "../components/layout.astro";
import ClientBlocks from "../components/client-blocks.astro";
---

<Layout title="Clients">
  <section class="gutters">
    <h1 class="fore mono-font">Clients</h1>

    <ClientBlocks />
    <!-- TODO -->
    <!-- <p class="spine">lorem ipsum</p> -->
  </section>

  <section class="gutters">
    <section class="cover">
      <section>
        <!-- TODO: remove the blocks -->
        <!-- {
          clients.map((client) => (
            <article>
              <a href={`/client/${client.slug}`}>{client.name}</a>
            </article>
          ))
        } -->
      </section>
    </section>
  </section>
</Layout>
