---
import Layout from "../components/layout.astro";
import fetchApi from "../lib/strapi";
import {
  BlocksRenderer,
  type BlocksContent,
} from "@strapi/blocks-react-renderer";
import ClientBlocks from "../components/client-blocks.astro";

type aboutType = {
  id: number;
  name: string;
  description: BlocksContent;
};
const about: aboutType = await fetchApi({
  endpoint: "about", // the content type to fetch
  more: false,
});
---

<Layout title="Home">
  <main class="gutters">
    <section class="cover split">
      <article>
        <BlocksRenderer content={about.description} />
        <hr />
      </article>
    </section>
  </main>

  <!-- TODO: this doesnt quite fit the gutter with clients being too big -->
  <!-- first idea is on big screens give more space to the gutters -->
  <section class="gutters">
    <h1 class="fore denali">
      <a href="/client">Clients</a>
    </h1>

    <ClientBlocks />
    <!-- TODO: -->
    <p class="spine">lorem ipsum</p>
  </section>
</Layout>
