---
import Layout from "../components/layout.astro";
import { formatDate } from "../components/format-date";

import {
  BlocksRenderer,
  type BlocksContent,
} from "@strapi/blocks-react-renderer";

type NowType = {
  id: number;
  description: BlocksContent;
  createdAt: string;
  updatedAt: string;
};

import fetchApi from "../lib/strapi";

const nows: NowType[] = await fetchApi({
  endpoint: "nows", // the content type to fetch
  more: false,
});

console.log(nows);
---

<Layout title="Now">
  <main class="gutters">
    <h1 class="fore">Now</h1>

    <section class="cover split">
      {
        nows.map((now) => (
          <article>
            <code>Created at: {formatDate(now.createdAt)}</code>

            {now.updatedAt !== now.createdAt && (
              <code>Updated at: {formatDate(now.updatedAt)}</code>
            )}
            <BlocksRenderer content={now.description} />
            <hr />
          </article>
          <div >
            {/* // TODO: */}
            now.image
          </div>
        ))
      }
    </section>
  </main>
</Layout>
