---
import Layout from "../components/layout.astro";
import fetchApi from "../lib/strapi";

type projectTypes = {
    title: string;
    slug: string;
};
const projects: projectTypes[] = await fetchApi({
    endpoint: "projects", // the content type to fetch
    // more: false,
});
---

<Layout>
    <main>
        <h1>Projects</h1>
        <hr />
        {projects.map((project) => <article>
            <a href={`/project/${project.slug}`}>
            {project.title}
            </a>
            </article>)}
        <hr />
    </main>
</Layout>
