---
import Layout from "../components/layout.astro";
import fetchApi from "../lib/strapi";

type styleguideTypes = {
    name: string;
    slug: string;
};
const styleguides: styleguideTypes[] = await fetchApi({
    endpoint: "styleguides", // the content type to fetch
    // wrappedByKey: "data", // the key to unwrap the response
    // more: false,
});
---

<Layout>
    <main>
        <h1>styleguide</h1>
        <hr />
        {styleguides.map((styleguide) => (
            <article>
                    {styleguide.name}
            </article>
        ))}
        <hr />
    </main>
</Layout>
