---
import fetchApi from "../lib/strapi";
import type { MetaType } from "../types/about-type";

const meta: MetaType[] = await fetchApi({
    endpoint: "meta", // the content type to fetch
    wrappedByKey: "data", // the key to unwrap the response
    more: false,
});

---

<header class="header__concept">
    <div class="breadcrumbs">HOME</div>
    <div class="spine">PUSHING PIXELS</div>
    <h1 class="riley">{meta[0].name.split(' ')[0]}</h1>
    <h2 class="bathurst">{meta[0].name.split(' ')[1]}</h2>
</header>
